

body{
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #fff;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

.text-paragraph,
.team-text-paragraph {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: left;
}

.heading-md,
.heading-md-advantages,
.heading-md-prt,
.team-heading-md {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
}

.heading-lg,
.heading-lg-team,
.heading-lg-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

/* header */
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo{
    padding-top: 24px ;
    padding-bottom: 24px;
    margin-right: 76px;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.nav-link{
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.nav-link.current {
position: relative;    
}

.nav-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;

    width: 100%;
    height: 4px;
}

.contacts{
font-style: normal;
margin-left: auto;
}

.contacts-link{
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
color: #404bbf
}



/* section-start */
.section-start{ 
max-width: 1440px;
height: 600px;
margin: auto;
background-color: #2e2f42;
background-image: 
linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
padding: 188px 0;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.heading-xl{
margin: auto;
margin-bottom: 48px;
max-width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.heading-xl-button {
border: none;
display: block;
align-items: center;
min-width: 169px;
margin:0 auto;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
height: 56px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.heading-xl-button:hover,
.heading-xl-button:focus {
    background: #404bbf;
}

.heading-xl-button-title{
color: #fff;
}

/* advantages */
.advantages{
padding: 120px 0;
}

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden; 
}

.advantages-list{
display: flex;
gap: 24px;
}


.border-advantages{
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

.advantages-title{
width: calc((100% - 72px) / 4);

}

.heading-lg-advantages{   
padding: 8px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.heading-md-advantages {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
}

.heading-md-advantages,
.text-paragraph{
    text-align: left;
}

/* team */

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.heading-lg-team{
margin-bottom: 72px;
}

.team-list{
display: flex;
gap: 24px;
}

.team-item{
background-color: #fff;
border-radius: 0 0 4px 4px;
width: calc((100% - 72px) / 4);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);       
}

.link-social{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
display: inline-flex;
justify-content: center;
align-items: center;
text-decoration: none;
display: flex;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus{
background-color: #404bbf;
}

.icon-socials{
fill: #F4F4FD;
}

.socials-img{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.socials-team{
display: flex;
align-items: center;
gap: 24px;
justify-content: center;
}

.team-heading-md{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-text-paragraph{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.information-team{
padding: 32px 0;
}

.img-team{
    background-color: #FFFFFF;
    margin-bottom:0 ;
}

                   /* portfolio */
.portfolio {
padding-top: 120px;
padding-bottom: 120px;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio-list{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.img-tumb{
    position: relative;
    overflow: hidden;
}

.txt-tumb{
position: absolute;
background: #4d5ae5;
width: 100%;
height: 100%;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
top: 0;
left: 0;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-align: left;
}

.heading-lg-portfolio{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-item{
width: calc((100% - 48px) / 3);
cursor: pointer;
box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item:hover .txt-tumb{
    transform: translateY(0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.portfolio-information{
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}


.heading-md-prt{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
}


/* footer */
.page-footer {
background-color: #2e2f42;
padding: 100px 0;
}

.footer-logo{
display: inline-block;
margin-bottom: 16px;
}

.logo-part{
color: #f4f4fd;
}

.footer-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

 .text-social-footer{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
 }

 .social-footer{
display: flex;
gap: 16px;
align-items: baseline;
 }

 .footer-container{
display: flex;
align-items: baseline;
}

 .footer-info{
margin-right: 120px;
 }

 .link-social-footer{
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1) ;
 }

 .link-social-footer:hover,
 .link-social-footer:focus{
    background-color: #31d0aa;
 }